In [6]:
import pandas as pd
teams = pd.read_csv("teamdata.csv")

In [7]:
teams.head(10)

   Unnamed: 0                  name  gF  gA  points          region   league
0           0            I Vermotti  17  12      12       Lombardia  Serie A
1           1     Martiri Oscuri FC  13  13      10          Milano  Serie A
2           2            DETON F.C.  19  13       9       Lombardia  Serie A
3           3             Mar Mousa  16  14       9       Lombardia  Serie A
4           4   Orda Balorda Urbino  11   9       7          Marche  Serie A
5           5               Telesia   9  13       6          Torino  Serie A
6           6  San Benedetto Calcio  14  19       3         Toscana  Serie A
7           7       Tet Corporation  10  16       3  Emilia Romagna  Serie A
8           8            Aquile F.C  12  11      12          Napoli     II.1
9           9    Torre D'Oglio 1926  11   4      10       Lombardia     II.1

In [8]:
group = teams.groupby(teams.region)

In [9]:
test = pd.DataFrame(group.size())

test.head(10)

                        0
region
Abruzzo                17
Bari                    4
Basilicata              6
Bologna                 8
Cagliari                2
Calabria               11
Campania               14
Emilia Romagna         55
Firenze                12
Friuli Venezia Giulia  18

In [10]:
test.to_csv("teamsht.csv")