In [1]:
import pandas as pd
teams = pd.read_csv("teamdata.csv")

In [2]:
teams.head(10)

   Unnamed: 0                  name  gF  gA  points          region   league
0           0            I Vermotti  17  12      12       Lombardia  Serie A
1           1     Martiri Oscuri FC  13  13      10          Milano  Serie A
2           2            DETON F.C.  19  13       9       Lombardia  Serie A
3           3             Mar Mousa  16  14       9       Lombardia  Serie A
4           4   Orda Balorda Urbino  11   9       7          Marche  Serie A
5           5               Telesia   9  13       6          Torino  Serie A
6           6  San Benedetto Calcio  14  19       3         Toscana  Serie A
7           7       Tet Corporation  10  16       3  Emilia Romagna  Serie A
8           8            Aquile F.C  12  11      12          Napoli     II.1
9           9    Torre D'Oglio 1926  11   4      10       Lombardia     II.1

In [3]:
strip_number = lambda x:x.split(".",1)[0]

In [4]:

teams["serie"] = teams["league"].apply(strip_number)

In [48]:
groups = teams.groupby(by=["region","serie"])

test = pd.DataFrame(columns=["region","A","II","III","IV"])

region_list = [] 
a_list = []
ii_list = []
iii_list = []
iv_list = []

#print groups

for g in groups:
    print g[0][0], g[0][1], len(g[1])
    if g[0][0] not in region_list:
        region_list.append(g[0][0])

for region in region_list:
    for g in groups:
        if g[0][0]==region and g[0][1]=="Serie A":
            a_list.append(len(g[1]))
            break
    else:
        a_list.append(0)
        
for region in region_list:
    for g in groups:
        if g[0][0]==region and g[0][1]=="II":
            ii_list.append(len(g[1]))
            break
    else:
        ii_list.append(0)
        
for region in region_list:
    for g in groups:
        if g[0][0]==region and g[0][1]=="III":
            iii_list.append(len(g[1]))
            break
    else:
        iii_list.append(0)

for region in region_list:
    for g in groups:
        if g[0][0]==region and g[0][1]=="IV":
            iv_list.append(len(g[1]))
            break
    else:
        iv_list.append(0)

Abruzzo II 2
Abruzzo III 6
Abruzzo IV 9
Bari III 2
Bari IV 2
Basilicata III 1
Basilicata IV 5
Bologna II 1
Bologna III 1
Bologna IV 6
Cagliari III 1
Cagliari IV 1
Calabria III 1
Calabria IV 10
Campania II 1
Campania III 2
Campania IV 11
Emilia Romagna II 2
Emilia Romagna III 8
Emilia Romagna IV 44
Emilia Romagna Serie A 1
Firenze II 1
Firenze III 3
Firenze IV 8
Friuli Venezia Giulia III 3
Friuli Venezia Giulia IV 15
Genova II 1
Genova III 2
Genova IV 4
Lazio II 1
Lazio III 7
Lazio IV 47
Liguria II 2
Liguria III 1
Liguria IV 14
Lombardia II 5
Lombardia III 25
Lombardia IV 84
Lombardia Serie A 3
Marche II 1
Marche III 5
Marche IV 18
Marche Serie A 1
Milano II 1
Milano III 5
Milano IV 19
Milano Serie A 1
Molise IV 4
Napoli II 3
Napoli IV 16
Palermo III 2
Palermo IV 1
Piemonte II 2
Piemonte III 9
Piemonte IV 28
Puglia III 5
Puglia IV 16
Roma II 1
Roma III 7
Roma IV 30
Sardegna III 1
Sardegna IV 10
Sicilia III 8
Sicilia IV 14
Torino III 1
Torino IV 2
Torino Serie A 1
Toscana II 3
Toscana III 7
Toscana IV 33
Toscana Serie A 1
Trentino Alto Adige III 1
Trentino Alto Adige IV 17
Umbria II 2
Umbria III 5
Umbria IV 2
Valle d'Aosta III 1
Valle d'Aosta IV 1
Veneto II 3
Veneto III 6
Veneto IV 29
Venezia III 1
Venezia IV 5
Verona III 1
Verona IV 6
Śląskie IV 1

In [51]:
print region_list
print a_list

print len(region_list)
print len(a_list)
print len(ii_list)
print len(iii_list)
print len(iv_list)

print ii_list
print iii_list
print iv_list

['Abruzzo', 'Bari', 'Basilicata', 'Bologna', 'Cagliari', 'Calabria', 'Campania', 'Emilia Romagna', 'Firenze', 'Friuli Venezia Giulia', 'Genova', 'Lazio', 'Liguria', 'Lombardia', 'Marche', 'Milano', 'Molise', 'Napoli', 'Palermo', 'Piemonte', 'Puglia', 'Roma', 'Sardegna', 'Sicilia', 'Torino', 'Toscana', 'Trentino Alto Adige', 'Umbria', "Valle d'Aosta", 'Veneto', 'Venezia', 'Verona', '\xc5\x9al\xc4\x85skie']
[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0]
33
33
33
33
33
[2, 0, 0, 1, 0, 0, 1, 2, 1, 0, 1, 1, 2, 5, 1, 1, 0, 3, 0, 2, 0, 1, 0, 0, 0, 3, 0, 2, 0, 3, 0, 0, 0]
[6, 2, 1, 1, 1, 1, 2, 8, 3, 3, 2, 7, 1, 25, 5, 5, 0, 0, 2, 9, 5, 7, 1, 8, 1, 7, 1, 5, 1, 6, 1, 1, 0]
[9, 2, 5, 6, 1, 10, 11, 44, 8, 15, 4, 47, 14, 84, 18, 19, 4, 16, 1, 28, 16, 30, 10, 14, 2, 33, 17, 2, 1, 29, 5, 6, 1]

In [52]:
data = pd.DataFrame({'region': region_list, 'a': a_list, 'ii': ii_list, 'iii': iii_list, 'iv': iv_list})

In [58]:
total = teams.groupby(by='region').count()["serie"]

In [67]:
data['total'] = data["a"] + data["ii"] + data["iii"] + data["iv"]

In [68]:
data

    a  ii  iii  iv                 region  total
0   0   2    6   9                Abruzzo     17
1   0   0    2   2                   Bari      4
2   0   0    1   5             Basilicata      6
3   0   1    1   6                Bologna      8
4   0   0    1   1               Cagliari      2
5   0   0    1  10               Calabria     11
6   0   1    2  11               Campania     14
7   1   2    8  44         Emilia Romagna     55
8   0   1    3   8                Firenze     12
9   0   0    3  15  Friuli Venezia Giulia     18
10  0   1    2   4                 Genova      7
11  0   1    7  47                  Lazio     55
12  0   2    1  14                Liguria     17
13  3   5   25  84              Lombardia    117
14  1   1    5  18                 Marche     25
15  1   1    5  19                 Milano     26
16  0   0    0   4                 Molise      4
17  0   3    0  16                 Napoli     19
18  0   0    2   1                Palermo      3
19  0   2    9  28               Piemonte     39
20  0   0    5  16                 Puglia     21
21  0   1    7  30                   Roma     38
22  0   0    1  10               Sardegna     11
23  0   0    8  14                Sicilia     22
24  1   0    1   2                 Torino      4
25  1   3    7  33                Toscana     44
26  0   0    1  17    Trentino Alto Adige     18
27  0   2    5   2                 Umbria      9
28  0   0    1   1          Valle d'Aosta      2
29  0   3    6  29                 Veneto     38
30  0   0    1   5                Venezia      6
31  0   0    1   6                 Verona      7
32  0   0    0   1                Śląskie      1

In [69]:
data.to_csv("teamdata.csv")

In [98]:
test = teams.groupby(["region","serie"]).count()

In [100]:
teams["test"] = test

TypeError: incompatible index of inserted column with frame index

In [94]:
test

                               Unnamed: 0  name  gF  gA  points  league
region                serie
Abruzzo               II                2     2   2   2       2       2
                      III               6     6   6   6       6       6
                      IV                9     9   9   9       9       9
Bari                  III               2     2   2   2       2       2
                      IV                2     2   2   2       2       2
Basilicata            III               1     1   1   1       1       1
                      IV                5     5   5   5       5       5
Bologna               II                1     1   1   1       1       1
                      III               1     1   1   1       1       1
                      IV                6     6   6   6       6       6
Cagliari              III               1     1   1   1       1       1
                      IV                1     1   1   1       1       1
Calabria              III               1     1   1   1       1       1
                      IV               10    10  10  10      10      10
Campania              II                1     1   1   1       1       1
                      III               2     2   2   2       2       2
                      IV               11    11  11  11      11      11
Emilia Romagna        II                2     2   2   2       2       2
                      III               8     8   8   8       8       8
                      IV               44    44  44  44      44      44
                      Serie A           1     1   1   1       1       1
Firenze               II                1     1   1   1       1       1
                      III               3     3   3   3       3       3
                      IV                8     8   8   8       8       8
Friuli Venezia Giulia III               3     3   3   3       3       3
                      IV               15    15  15  15      15      15
Genova                II                1     1   1   1       1       1
                      III               2     2   2   2       2       2
                      IV                4     4   4   4       4       4
Lazio                 II                1     1   1   1       1       1
...                                   ...   ...  ..  ..     ...     ...
Puglia                IV               16    16  16  16      16      16
Roma                  II                1     1   1   1       1       1
                      III               7     7   7   7       7       7
                      IV               30    30  30  30      30      30
Sardegna              III               1     1   1   1       1       1
                      IV               10    10  10  10      10      10
Sicilia               III               8     8   8   8       8       8
                      IV               14    14  14  14      14      14
Torino                III               1     1   1   1       1       1
                      IV                2     2   2   2       2       2
                      Serie A           1     1   1   1       1       1
Toscana               II                3     3   3   3       3       3
                      III               7     7   7   7       7       7
                      IV               33    33  33  33      33      33
                      Serie A           1     1   1   1       1       1
Trentino Alto Adige   III               1     1   1   1       1       1
                      IV               17    17  17  17      17      17
Umbria                II                2     2   2   2       2       2
                      III               5     5   5   5       5       5
                      IV                2     2   2   2       2       2
Valle d'Aosta         III               1     1   1   1       1       1
                      IV                1     1   1   1       1       1
Veneto                II                3     3   3   3       3       3
                      III               6     6   6   6       6       6
                      IV               29    29  29  29      29      29
Venezia               III               1     1   1   1       1       1
                      IV                5     5   5   5       5       5
Verona                III               1     1   1   1       1       1
                      IV                6     6   6   6       6       6
Śląskie               IV                1     1   1   1       1       1

[86 rows x 6 columns]